<div class="section-container posts-template">
    <div class="work-content">
        <div class="work-cards-container">
            <div class="work-cards-grid">
            {{ range .Paginator.Pages }}
            <div class="work-card">
                <a href="{{.Permalink}}">
                    {{ with .Params.featured_image }}
                    {{ with resources.Get . }}
                    {{ $postimage := (.Resize "x300 webp q90").RelPermalink }}
                    <div class="work-card-image-container">
                        <img src="{{ $postimage }}" class="work-card-image" width="100%" height="300"
                             loading="lazy" alt="{{ .Title }}" />
                    </div>
                    {{ end }}
                    {{ end }}
                </a>
                <div class="work-card-content">
                    <div class="work-card-main">
                        <a href="{{.Permalink}}" class="work-card-title">
                            {{.Title}}
                        </a>
                        <p class="work-card-summary">
                            {{ .Params.summary }}
                        </p>
                    </div>
                    <div class="work-card-tags">
                        <span class="work-card-tags-label">Tags:</span>
                        <div class="work-card-tags-container">
                        {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
                        {{- if gt $elem_index 0 }} {{ end -}}
                        <a href="{{ $elem_val.Permalink }}" class="work-card-tag">{{ $elem_val.Name }}</a>
                        {{- end -}}
                        </div>
                    </div>
                    <div class="work-card-meta">
                        <div class="work-card-avatar">
                            <span class="sr-only">{{ .Params.author }}</span>
                            {{ with .Params.authorimage }}
                            {{ with resources.Get . }}
                            {{ $authorimage := (.Resize "40x webp").RelPermalink }}
                            <img class="work-card-avatar-image" src="{{ $authorimage }}" alt="">
                            {{ end }}
                            {{ end }}
                        </div>
                        <div class="work-card-author-info">
                            <p class="work-card-author">
                                {{ .Params.author }}
                            </p>
                            <div class="work-card-date-info">
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
                                <span class="work-card-separator" aria-hidden="true">&middot;</span>
                                <span>{{ math.Round (div (countwords .Content) 220.0) }} min read</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>
